# Servidor
PORT=8000
NODE_ENV=production

# Base de datos
DB_USER=USERNAME
DB_PASSWORD=PASSWORD
DB_HOST=HOSTNAME
DB_PORT=PORT
DB_SERVICE=SERVICE_NAME
DB_SSL=true

# Autenticación
SECRET_JWT_KEY=TU_CLAVE_SECRETA_PARA_JWT
SALT_ROUND=10

# Cors
CORS_ORIGINS=TU_DOMINIO_PERMITIDO_PARA_CORS